<div class="menu-box">
	<ul>
		<li ng-click="vm.demoMenu=1">
			<i class="icon-doc-new"></i>
			<span>Cusomter Accident</span>
		</li>
		<li ng-click="vm.demoMenu=2">
			<i class="icon-doc-new"></i>
			<span>Employee Accident</span>
		</li>
		<li ng-click="vm.demoMenu=3">
			<i class="icon-doc-new"></i>
			<span>Shoplifting</span>
		</li>
		<li ng-click="vm.demoMenu=4">
			<i class="icon-doc-new"></i>
			<span>Dishonest Employee</span>
		</li>
		<li ng-click="vm.demoMenu=5">
			<i class="icon-doc-new"></i>
			<span>Fraud</span>
		</li>
	
	</ul>
</div>

<div class="menu-box">
	<ul>
		<li ng-click="vm.demoMenu=6">
			<i class="icon-doc-new"></i>
			<span>Business Interruption </span>
		</li>
		<li ng-click="vm.demoMenu=7">
			<i class="icon-doc-new"></i>
			<span>Alarm Condition</span>
		</li>
		<li ng-click="vm.demoMenu=8">
			<i class="icon-doc-new"></i>
			<span>Burglary</span>
		</li>
		<li ng-click="vm.demoMenu=9">
			<i class="icon-doc-new"></i>
			<span>General Incident</span>
		</li>

		<li ng-click="vm.demoMenu=10">
			<i class="icon-doc-new"></i>
			<span>Accident-Injury</span>
		</li>
	
	</ul>
</div>


<div class="menu-box">
	<ul>		
		<li ng-click="vm.demoMenu=11">
			<i class="icon-doc-new"></i>
			<span>IT Security Incident</span>
		</li>
		<li ng-click="vm.demoMenu=12">
			<i class="icon-doc-new"></i>
			<span>Customer Service Incident</span>
		</li>
		<li ng-click="vm.demoMenu=13">
			<i class="icon-doc-new"></i>
			<span>Loss-Injury</span>
		</li>
	</ul>
</div>


