/* COMMON, START */
/* COMMON, END */
/** TOP BAR **/
/** LEFT BAR **/
/** FOOTER **/
.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*
 * Customize: Buttons (bootstrap)
 * -----------
 */
.btn {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.btn-default {
  color: #ffffff;
  background-color: #abb7b7;
  border-color: #abb7b7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #909f9f;
  border-color: #8a9b9b;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #abb7b7;
  border-color: #abb7b7;
}
.btn-default .badge {
  color: #abb7b7;
  background-color: #ffffff;
}
.btn-primary {
  color: #ffffff;
  background-color: #4a525f;
  border-color: #4a525f;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #343942;
  border-color: #2f343d;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4a525f;
  border-color: #4a525f;
}
.btn-primary .badge {
  color: #4a525f;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #68c39f;
  border-color: #68c39f;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47b187;
  border-color: #44aa82;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #68c39f;
  border-color: #68c39f;
}
.btn-success .badge {
  color: #68c39f;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #65bbd6;
  border-color: #65bbd6;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #3da9cb;
  border-color: #35a5c8;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #65bbd6;
  border-color: #65bbd6;
}
.btn-info .badge {
  color: #65bbd6;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #ffc052;
  border-color: #ffc052;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ffad1f;
  border-color: #ffaa15;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ffc052;
  border-color: #ffc052;
}
.btn-warning .badge {
  color: #ffc052;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #e15554;
  border-color: #e15554;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #d92a29;
  border-color: #d32625;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #e15554;
  border-color: #e15554;
}
.btn-danger .badge {
  color: #e15554;
  background-color: #ffffff;
}
.btn-white {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-white:active,
.btn-white.active,
.open > .dropdown-toggle.btn-white {
  background-image: none;
}
.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled.focus,
.btn-white[disabled].focus,
fieldset[disabled] .btn-white.focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-white .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-white-1 {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #fff;
}
.btn-white-1:hover,
.btn-white-1:focus,
.btn-white-1.active {
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
  color: #fff;
}
.btn-red-1 {
  background-color: #eb5055;
  border-color: #eb5055;
  color: #fff;
}
.btn-red-1:hover,
.btn-red-1:focus,
.btn-red-1.active {
  background-color: #d92f34 !important;
  border-color: #d92f34 !important;
  color: #fff;
}
.btn-blue-1 {
  background-color: #3c989e;
  border-color: #3c989e;
  color: #fff;
}
.btn-blue-1:hover,
.btn-blue-1:focus,
.btn-blue-1.active {
  background-color: #366d71 !important;
  border-color: #366d71 !important;
  color: #fff;
}
.btn-blue-2 {
  background-color: #3498db;
  border-color: #3498db;
  color: #fff;
}
.btn-blue-2:hover,
.btn-blue-2:focus,
.btn-blue-2.active {
  background-color: #2c7bb0 !important;
  border-color: #2c7bb0 !important;
  color: #fff;
}
.btn-blue-3 {
  background-color: #2980b9;
  border-color: #2980b9;
  color: #fff;
}
.btn-blue-3:hover,
.btn-blue-3:focus,
.btn-blue-3.active {
  background-color: #286187 !important;
  border-color: #286187 !important;
  color: #fff;
}
.btn-darkblue-1 {
  background-color: #252932;
  border-color: #252932;
  color: #fff;
}
.btn-darkblue-1:hover,
.btn-darkblue-1:focus,
.btn-darkblue-1.active {
  background-color: #111213 !important;
  border-color: #111213 !important;
  color: #fff;
}
.btn-darkblue-2 {
  background-color: #4a525f;
  border-color: #4a525f;
  color: #fff;
}
.btn-darkblue-2:hover,
.btn-darkblue-2:focus,
.btn-darkblue-2.active {
  background-color: #3a3b3c !important;
  border-color: #3a3b3c !important;
  color: #fff;
}
.btn-darkblue-3 {
  background-color: #38464a;
  border-color: #38464a;
  color: #fff;
}
.btn-darkblue-3:hover,
.btn-darkblue-3:focus,
.btn-darkblue-3.active {
  background-color: #262829 !important;
  border-color: #262829 !important;
  color: #fff;
}
.btn-lightblue-1 {
  background-color: #abb7b7;
  border-color: #abb7b7;
  color: #fff;
}
.btn-lightblue-1:hover,
.btn-lightblue-1:focus,
.btn-lightblue-1.active {
  background-color: #989898 !important;
  border-color: #989898 !important;
  color: #fff;
}
.btn-lightblue-2 {
  background-color: #7a868f;
  border-color: #7a868f;
  color: #fff;
}
.btn-lightblue-2:hover,
.btn-lightblue-2:focus,
.btn-lightblue-2.active {
  background-color: #6b6b6b !important;
  border-color: #6b6b6b !important;
  color: #fff;
}
.btn-orange-1 {
  background-color: #e84c3d;
  border-color: #e84c3d;
  color: #fff;
}
.btn-orange-1:hover,
.btn-orange-1:focus,
.btn-orange-1.active {
  background-color: #cc3426 !important;
  border-color: #cc3426 !important;
  color: #fff;
}
.btn-orange-2 {
  background-color: #de745e;
  border-color: #de745e;
  color: #fff;
}
.btn-orange-2:hover,
.btn-orange-2:focus,
.btn-orange-2.active {
  background-color: #c95740 !important;
  border-color: #c95740 !important;
  color: #fff;
}
.btn-orange-3 {
  background-color: #e27a3f;
  border-color: #e27a3f;
  color: #fff;
}
.btn-orange-3:hover,
.btn-orange-3:focus,
.btn-orange-3.active {
  background-color: #c3622b !important;
  border-color: #c3622b !important;
  color: #fff;
}
.btn-orange-4 {
  background-color: #edce8c;
  border-color: #edce8c;
  color: #fff;
}
.btn-orange-4:hover,
.btn-orange-4:focus,
.btn-orange-4.active {
  background-color: #ddb869 !important;
  border-color: #ddb869 !important;
  color: #fff;
}
.btn-green-1 {
  background-color: #68c39f;
  border-color: #68c39f;
  color: #fff;
}
.btn-green-1:hover,
.btn-green-1:focus,
.btn-green-1.active {
  background-color: #53a585 !important;
  border-color: #53a585 !important;
  color: #fff;
}
.btn-green-2 {
  background-color: #9ec789;
  border-color: #9ec789;
  color: #fff;
}
.btn-green-2:hover,
.btn-green-2:focus,
.btn-green-2.active {
  background-color: #85ab72 !important;
  border-color: #85ab72 !important;
  color: #fff;
}
.btn-green-3 {
  background-color: #209c83;
  border-color: #209c83;
  color: #fff;
}
.btn-green-3:hover,
.btn-green-3:focus,
.btn-green-3.active {
  background-color: #1e6b5b !important;
  border-color: #1e6b5b !important;
  color: #fff;
}
.btn-pink-1 {
  background-color: #f57a82;
  border-color: #f57a82;
  color: #fff;
}
.btn-pink-1:hover,
.btn-pink-1:focus,
.btn-pink-1.active {
  background-color: #e8545e !important;
  border-color: #e8545e !important;
  color: #fff;
}
.btn-pink-2 {
  background-color: #f56f6c;
  border-color: #f56f6c;
  color: #fff;
}
.btn-pink-2:hover,
.btn-pink-2:focus,
.btn-pink-2.active {
  background-color: #e74a47 !important;
  border-color: #e74a47 !important;
  color: #fff;
}
.btn-yellow-1 {
  background-color: #f4cda5;
  border-color: #f4cda5;
  color: #fff;
}
.btn-yellow-1:hover,
.btn-yellow-1:focus,
.btn-yellow-1.active {
  background-color: #e7b47f !important;
  border-color: #e7b47f !important;
  color: #fff;
}
.btn-yellow-2 {
  background-color: #eae696;
  border-color: #eae696;
  color: #fff;
}
.btn-yellow-2:hover,
.btn-yellow-2:focus,
.btn-yellow-2.active {
  background-color: #d9d474 !important;
  border-color: #d9d474 !important;
  color: #fff;
}
/* Button Upload, start*/
.btn-file {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-wrap: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: none repeat scroll 0 0 transparent;
  cursor: inherit;
  display: block;
  font-size: 10000px;
  /* This is the main part. */
}
.btn-file > span {
  padding-left: 5px;
}
/* Button Upload, end*/
/* Button Function, start*/
.btn-function {
  color: #aaaaaa;
  background-color: #f3f3f3;
  border-color: #f2f2f2;
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.btn-function:hover,
.btn-function:focus,
.btn-function.focus,
.btn-function:active,
.btn-function.active,
.open > .dropdown-toggle.btn-function {
  color: #aaaaaa;
  background-color: #dadada;
  border-color: #d3d3d3;
}
.btn-function:active,
.btn-function.active,
.open > .dropdown-toggle.btn-function {
  background-image: none;
}
.btn-function.disabled,
.btn-function[disabled],
fieldset[disabled] .btn-function,
.btn-function.disabled:hover,
.btn-function[disabled]:hover,
fieldset[disabled] .btn-function:hover,
.btn-function.disabled:focus,
.btn-function[disabled]:focus,
fieldset[disabled] .btn-function:focus,
.btn-function.disabled.focus,
.btn-function[disabled].focus,
fieldset[disabled] .btn-function.focus,
.btn-function.disabled:active,
.btn-function[disabled]:active,
fieldset[disabled] .btn-function:active,
.btn-function.disabled.active,
.btn-function[disabled].active,
fieldset[disabled] .btn-function.active {
  background-color: #f3f3f3;
  border-color: #f2f2f2;
}
.btn-function .badge {
  color: #f3f3f3;
  background-color: #aaaaaa;
}
/* Button Function, end*/
