/*
 * CMS - CHARTS
 * -----------
 */
.cms-chart {
  /*@media screen and (max-width: 991px){
		height: 350px; 
		.row{
			> div{
				> fusioncharts{
					height: 325px;
					> span{
						height: 325px;
						> svg{
							height: 325px;
							> g{
								height: 325px;
								> rect{
									height: 325px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 992px) and (max-width:1279px){
		height: 280px; 
		.row{
			> div{
				> fusioncharts{
					height: 245px;
					> span{
						height: 245px;
						> svg{
							height: 245px;
							> g{
								height: 245px;
								> rect{
									height: 245px;
								}
							}
						}
					}
				}
			}
		}
	}
	
	@media (min-width: 1280px) and (max-width:1600px){
		height: 300px; 
		.row{
			> div{
				> fusioncharts{
					height: 275px;
					> span{
						height: 275px;
						> svg{
							height: 275px;
							> g{
								height: 275px;
								> rect{
									height: 275px;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (min-width: 1601px) {
		height: 350px; 
		.row{
			> div{
				> fusioncharts{
					height: 325px;
					> span{
						height: 325px;
						> svg{
							height: 325px;
							> g{
								height: 325px;
								> rect{
									height: 325px;
								}
							}
						}
					}
				}
			}
		}
	}*/
}
.cms-chart .toolbar {
  margin-top: -10px;
  padding-bottom: 10px;
}
.cms-chart .toolbar .pull-left > p {
  width: 120px;
  margin: 0;
}
.cms-chart .toolbar .pull-left > p > input {
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
.cms-chart .dropdown-menu {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.chart-tooltip {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0px;
  margin: 0px;
  background: #fff;
}
.chart-tooltip .tooltipImg {
  padding-bottom: 3px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
}
.chart-tooltip .tooltipImg > img {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}
.chart-tooltip-nb {
  padding: 0;
  margin: 0px;
  width: auto;
  overflow-x: auto;
}
.chart-tooltip-nb .image-slider {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}
.chart-tooltip-nb .image-slider img {
  padding: 0 3px;
}
.tooltipHeader {
  padding: 4px 10px;
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  display: block;
  color: #5b5b5b;
  max-width: 155px;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  white-space: pre-wrap;
}
.tooltipContent {
  padding: 4px 10px;
  margin: 0px;
  font-size: 14px;
  color: #FF0000;
}
.chart-title-div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 50px;
}
.chart-title-div .row > div {
  text-align: center;
  font-size: 12px;
}
.chart-title-sepdiv {
  border-style: solid;
  border-width: 2px;
  border-color: #CCC;
  border-top-style: none;
  border-bottom-style: none;
}
.chart-title-red {
  color: #D95531;
  font-weight: bold;
  font-size: 14px;
}
.cms-chart-cal {
  width: 120px;
  margin: 0;
}
.cms-chart-cal > input {
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
.cms-chart-cal .date-box {
  border: 1px solid #cccccc;
  padding: 2px;
}
.cms-chart-cal > .btn {
  margin: 0 2px;
  margin-bottom: 2px;
  padding: 1px 5px 2px 5px;
}
.filter-dlg {
  width: 400px;
}
.severity-dlg {
  width: 200px;
}
.chart-subtitle {
  font-size: 12px;
}
.datepicker-noclear [ng-click="select(null)"] {
  display: none;
}
.traffic-detail.custom_slider .modal-body > div .images_box {
  height: 320px;
}
.traffic-detail.custom_slider .modal-body > div .images_box img {
  border: none;
  padding: 0;
}
.traffic-detail.custom_slider .modal-body > div .carousel-inner .carousel-caption .counter {
  background-color: #3E444E;
  padding: 15px;
  margin-left: -24px;
  margin-right: 5px;
}
