/*
 * CMS: TREE VIEW CSS
 * -----------
 */
.cms-tree .choose {
  color: #000;
  font-weight: bold;
}
.cms-tree .childuser {
  color: #F36B05;
}
.cms-tree a {
  color: #6F6F6F;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.cms-tree .del {
  color: red;
  margin-right: 15px;
  border-left: 1px solid #6F6F6F;
}
.cms-tree ol {
  list-style: none;
  padding-left: 35px;
}
.cms-tree ol > i {
  margin-left: -25px;
}
.cms-tree groupnode > div:hover {
  background-color: rgba(67, 74, 85, 0.18);
}
.cms-tree .tree-node-content {
  padding-top: 5px;
  padding-bottom: 1px;
  height: 33px;
  white-space: nowrap;
  overflow: hidden;
}
.cms-tree .tree-node-content a i {
  font-size: 18px;
}
.cms-tree .node-content {
  margin-left: 0px;
  display: inline;
}
.cms-tree .node-content a i {
  font-size: 18px;
}
.cms-tree .node-content a span {
  font-size: 14px;
}
.cms-tree .node-name {
  padding-left: 5px;
}
.cms-tree .node-hidden {
  border: 1px solid transparent;
  height: 15px;
}
.cms-tree .highlighted {
  background-color: #eee;
}
.cms-tree input[type=checkbox] {
  margin: 2px -3px 2px 7px;
  vertical-align: middle;
  position: inherit;
}
.cms-tree .placeholder {
  margin-left: -3px;
  min-height: 10px;
  background-color: #ccc;
}
.cms-tree .control-group {
  display: none;
}
.cms-tree .select {
  background-color: rgba(67, 74, 85, 0.18);
}
.cms-tree .select .control-group {
  display: block;
}
.cms-tree .icon-null {
  width: 26px;
}
