/*Header Fucntion, start*/
.function-header {
  background: rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-bottom: none !important;
}
.function-header.panel-header,
.function-header.panel-heading {
  height: auto;
  display: inline-block;
}
.function-header .pull-right .btn-group-mode {
  float: left;
  margin-top: 3px;
  padding-left: 5px;
}
.function-header .pull-right form {
  float: left;
  margin: 2px 4px;
  margin-left: 10px;
  border: 1px solid #eee;
  background: #fff;
}
.function-header .pull-right form .input-search {
  width: auto;
  height: 34px;
}
.function-header .pull-right form .input-search:focus::-webkit-input-placeholder {
  color: transparent!important;
}
.function-header .pull-right form .input-search:focus::-moz-placeholder {
  color: transparent!important;
}
.function-header .pull-right form .input-search:focus:-moz-placeholder {
  color: transparent!important;
}
.function-header .pull-left {
  margin: 10px;
}
.function-header .pull-left > span {
  padding: 0 5px;
  font-size: 15px;
}
.function-header .pull-left > span.delete-item i {
  color: red;
}
.function-header .pull-left > span:hover,
.function-header .pull-left > span:focus {
  cursor: pointer;
  color: #999;
}
.function-header .pull-left > span > span {
  padding: 0 3px;
  font-size: 15px;
}
.function-header .pull-left span.disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.function-header .pull-left span.disabled .delete-item i {
  opacity: 0.2;
}
.function-header .pull-left > .btn {
  margin: 4px 2px;
}
/*Header Fucntion, end*/
