/* COMMON, START */
/* COMMON, END */
/** TOP BAR **/
/** LEFT BAR **/
/** FOOTER **/
.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*
 * CMS: NOTES CSS
 * -----------
 */
.notes {
  background: #fdfdbe;
  /*overflow: hidden;*/
}
.notes .notes-view {
  padding-left: 45px;
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  position: relative;
  top: -10px;
  left: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.notes .notes-view ul.list-unstyled {
  margin-top: 21px;
}
.notes .notes-view .scroll-body {
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.notes .notes-view .notes-text {
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
  padding-top: 20px;
  height: 100%;
  background: none !important;
  border: none !important;
  line-height: 31px;
  resize: none;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -moz-box-shadow: none;
  box-shadow: none;
}
.notes .notes-view a {
  color: #555;
}
.notes .notes-view ul li {
  line-height: 31px;
}
.notes .notes-view ul li .notes-trunc {
  width: 85%;
  overflow: hidden;
  max-width: 1200px;
  line-height: 31px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.notes .notes-view .panel-content {
  background: repeating-linear-gradient(0deg, transparent, transparent 30px, #f3f3f3 30px, #f3f3f3 31px);
  height: 342px;
  padding-top: 0px;
}
.notes .notes-view.ng-hide {
  line-height: 0;
  opacity: 0;
  left: -100%;
  position: absolute;
}
.notes .notes-view .btn-group {
  position: relative !important;
  margin-top: -31px;
}
.notes .notes-line {
  border-left: 3px double rgba(238, 150, 122, 0.55);
  position: absolute;
  z-index: 0;
  display: block;
  /*height: 100%;*/
  left: 50px;
  top: 0px;
  bottom: 0;
}
.notes .status-indicator {
  position: absolute;
  bottom: 15px;
  right: 50px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  padding: 1px 6px 2px;
}
.notes .saved .status-indicator {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  opacity: 1;
}
.notes .panel-content {
  background: repeating-linear-gradient(0deg, transparent, transparent 30px, rgba(0, 0, 0, 0.08) 31px, #f3f3f3 31px);
  /*height: 329px;*/
  padding-top: 0px !important;
  padding-right: 5px !important;
}
.notes .panel-content div > div.btn-group {
  position: absolute;
  top: 10px;
  left: 10px;
}
.notes .panel-header,
.notes .panel-heading {
  background: transparent;
  border-bottom: 0px;
}
.notes .panel-header > h2,
.notes .panel-heading > h2 {
  width: 100% !important;
}
@media screen and (max-height: 320px) {
  .maximized .notes .notes-view .scroll-body {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 321px) and (max-height: 375px) {
  .maximized .notes .notes-view .scroll-body {
    height: 250px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 376px) and (max-height: 480px) {
  .maximized .notes .notes-view .scroll-body {
    height: 320px;
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 481px) and (max-height: 768px) {
  .maximized .notes .notes-view .scroll-body {
    height: 470px;
    max-height: 470px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 769px) and (max-height: 864px) {
  .maximized .notes .notes-view .scroll-body {
    height: 570px;
    max-height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 865px) and (max-height: 900px) {
  .maximized .notes .notes-view .scroll-body {
    height: 650px;
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 901px) and (max-height: 950px) {
  .maximized .notes .notes-view .scroll-body {
    height: 700px;
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 951px) and (max-height: 1000px) {
  .maximized .notes .notes-view .scroll-body {
    height: 740px;
    max-height: 740px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 1001px) and (max-height: 1200px) {
  .maximized .notes .notes-view .scroll-body {
    height: 750px;
    max-height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 1201px) {
  .maximized .notes .notes-view .scroll-body {
    height: 940px;
    max-height: 940px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
