<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="Caches" type="CMSWebApi.Configurations.CachesConfig, CMSWebApi.Configurations" />
		<section name="EmailSettings" type="CMSWebApi.Configurations.EmailSettingSection, CMSWebApi.Configurations" />
		<section name="ApiConfigs" type="CMSWebApi.Configurations.ApiConfigs, CMSWebApi.Configurations" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<Caches>
		<!--
    Cache support: Alert, POS,IOPCCount
    -->
		<DashBoards>
			<add name="Alert" live="true" enable="true" save="true" chunk-size="100000" parallelism="0" interval="4" period="week" />
			<add name="POS" live="true" enable="true" save="true" chunk-size="100000" parallelism="0" interval="4" period="week" />
			<add name="IOPCCount" live="true" enable="true" save="true" chunk-size="100000" parallelism="0" interval="4" period="week" />
		</DashBoards>
		<Tables>
			<Table name="tAlertType" enable="true" autoupdate="true" />
			<Table name="states" enable="true" autoupdate="true" />
			<Table name="tAlertSeverity" enable="true" autoupdate="true" />
			<Table name="tCMSWeb_Goal_Types" enable="true" autoupdate="true" />
			<Table name="tCMSWeb_Modules" enable="true" autoupdate="true" />
			<Table name="tCMSWeb_DashBoardElements" enable="true" autoupdate="true" />
		</Tables>
	</Caches>
	<EmailSettings>
		<!-- Email settings description
      Server Tag:
        type: Mail server type(SMTP/0 or EXCHANGE/1)
            SMTP mail server is 0 or SMTP.
            MS Exchange mail is 1 or EXCHANGE.
        tsl: security mode to connect to Mail server.
            When Mail server is SMTP
              'Auto'  or  '0': Automatic detect and enable TSL.
              'TSL'  or  '1': Always enable TSL when sending an email.
              'SSL'  or  '2': disable TSL.
            When Mail server is MS Exchange
              'Auto'  or  '0': Disable SSL.
              'TSL'  or  '1': Disable SSL.
              'SSL'  or  '2': Enable SSL.
        port: port number to communicate with host.
        host: Mail server address. It can be domain name or IP address.

      'EXCHANGE' Tag: 
        AutodiscoverUrl : 'true' auto detect 'host' otherwise must provide 'host'.
    Account tag:
        address: sender email address.
        userid: user id to login mail server.
        pwd: password  to login mail server.
  -->
		<Server host="exchange.i3international.com" port="443" type="EXCHANGE" tsl="ssl">
			<EXCHANGE AutodiscoverUrl="false" Version="Exchange2007_SP1" />
		</Server>
		<Account address="genacc@i3international.com" userid="genacc" pwd="i3G3n@cc" name="" />
	</EmailSettings>
	<ApiConfigs>
		<Allow>
			<add value="loopback" />
			<add value="localhost" />
			<add value="127.0.0.1" />
		</Allow>
	</ApiConfigs>
	<configProtectedData defaultProvider="EncryptionProvider">
		<providers>
			<add name="EncryptionProvider" type="WebConfigEncryption.WebConfigProtectionProvider,WebConfigEncryption, Version=1.0.0.0, Culture=neutral,PublicKeyToken=4de0d16e4ed5f779, processorArchitecture=MSIL" />
		</providers>
	</configProtectedData>
	<connectionStrings>
		<clear />
		<add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="LogContext" connectionString="Data Source=|DataDirectory|\SVRConfigs.sdf;Persist Security Info=False;" providerName="System.Data.SqlServerCe.4.0" />
		<!--<add name="PACDMDB" connectionString="metadata=res://*/Model.PACDMDB.csdl|res://*/Model.PACDMDB.ssdl|res://*/Model.PACDMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.0.11.7;Initial Catalog=CMS5.1_A7;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=p@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="PACDMDB" connectionString="metadata=res://*/Model.PACDMDB.csdl|res://*/Model.PACDMDB.ssdl|res://*/Model.PACDMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source= dell\sql2k8r2;Initial Catalog=TradeShowDemo;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=i3dvr;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="PACDMDB" connectionString="metadata=res://*/Model.PACDMDB.csdl|res://*/Model.PACDMDB.ssdl|res://*/Model.PACDMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DELL\SQL2K14;Initial Catalog=TDL;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=i3dvr;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--<add name="PACDMDB" connectionString="metadata=res://*/Model.PACDMDB.csdl|res://*/Model.PACDMDB.ssdl|res://*/Model.PACDMDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=cmstest.i3international.com;Initial Catalog=CMSDB5;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=i3@1211;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<appSettings file="">
		<clear />
		<!--
  Password is using to build token for converter
  -->
		<add key="owin:AutomaticAppStartup" value="true" />
		<add key="TokenKey" value="Be8ampLYhi4f8y3pOWDLV1GzfIvH34GH6TaPHwqYS/I=" />
		<add key="LoginRetry" value="5" />
		<add key="LoginNextInter" value="15" />
		<!--
  0: message will be sent by plain text
  1: messages will be encrypted when running under HTTP, HTTPs protocol
  2: messages will be encrypted when running under HTTP protocol
  -->
		<add key="MsgEncrypt" value="0" />
		<!--
    time interval(second) accepts to process message from sending by client
  -->
		<add key="MsgDelay" value="60" />
		<add key="DataPath" value="." />
		<!--
  Valid restore password token when user forgot password
  -->
		<add key="RestorePassTime" value="24" />
		<add key="UserImageSize" value="71680" />
		<add key="SnapshotBufferSize" value="16384" />
		<add key="RecordDayExpected" value="90" />
		<!--Period Day to get notes-->
		<add key="NotesPeriodDay" value="1" />
		<!--
		Time Interval to expire cookie on client.
	Value is seconds.Default is 7 days.
	-->
		<add key="CookieExpired" value="604800" />
		<add key="ForecastFomular" value="1" />
		<add key="ForecastWeeks" value="5" />
		<!-- 100Mb|10day: recycle when free disk space less than 100 MB or alert older than 10 day, 500MB: recycle when free disk space less than 100 MB, 30day: delete alert older than 30 days-->
		<add key="ImageAlertRecycle" value="30day" />
		<add key="ImageAlertOffset" value="1" />
		<add key="ImageAlertWidth" value="320" />
		<add key="ImageAlerttHeight" value="240" />
		<add key="DBJobName" value="" />
		<!-- Tri: Create plag show or hide column WH in Custom report  -->
		<!-- Value 0 is Show Column -->
		<!-- Value 1 is Hide Column (default) -->
		<add key="B_HideWH" value="1" />
		<add key="IdleTimeout" value="6000000" />
<add key="DVRBackupConfigInterval" value="2" />
	<add key="DVRBackupConfigKeep" value="5" />
	</appSettings>
	<system.web>
		<compilation debug="false" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="WindowsBase, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="PresentationCore, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
		</compilation>
		<httpRuntime requestValidationMode="2.0" executionTimeout="1200" maxRequestLength="102400" maxQueryStringLength="8048" targetFramework="4.5" />
		<!--ASP.NET SUPPORT UPLOAD MAX FILE SIZE: 30 MB-->
		<authentication mode="Windows" />
		<hostingEnvironment shadowCopyBinAssemblies="false" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<identity impersonate="true" />
	</system.web>
	<system.webServer>
		<httpRedirect enabled="true">
			<add wildcard="/" destination="/cmsweb" />
		</httpRedirect>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
      <remove name="WebDAVModule" />
			<remove name="UrlRoutingModule-4.0" />
			<add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
		</modules>
		<staticContent>
			<remove fileExtension=".otf" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".svg" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".json" />
			<remove fileExtension=".less" />
			<remove fileExtension=".png" />
			<mimeMap fileExtension=".less" mimeType="text/css" />
			<mimeMap fileExtension=".json" mimeType="application/text" />
			<mimeMap fileExtension=".otf" mimeType="text/css" />
			<mimeMap fileExtension=".eot" mimeType="text/css" />
			<mimeMap fileExtension=".svg" mimeType="text/css" />
			<mimeMap fileExtension=".ttf" mimeType="text/css" />
			<mimeMap fileExtension=".woff" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".woff2" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".*" mimeType="text/css" />
		</staticContent>
		<handlers>
      <remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral,   PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<security>
			<requestFiltering>
				<!--IIS SUPPORT UPLOAD MAX FILE SIZE: 30 MB-->
				<requestLimits maxAllowedContentLength="3000000000" maxUrl="1409006" maxQueryString="1012048" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<!--<loadFromRemoteSources enabled="true" />
    <ThrowUnobservedTaskExceptions enabled="true" />-->
		<!--<probing privatePath="bin"/>-->
		<!--<probing privatePath="bin" />-->
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!--<probing privatePath="bin" />-->
			<!--<dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>-->

			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>-->
		<providers>
			<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />

		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="System.Data.SqlServerCe.4.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
    </system.data></configuration>