.sale-reports {
  margin-bottom: 25px;
}
.sale-reports .clear {
  clear: both;
}
.sale-reports .sale-reports-chart {
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: #fff;
  padding: 25px 15px;
}
.sale-reports .sale-reports-chart .btn-site {
  font-size: 14px;
  font-weight: bold;
  color: #666;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sale-reports .sale-reports-chart .btn-site:hover,
.sale-reports .sale-reports-chart .btn-site:focus,
.sale-reports .sale-reports-chart .btn-site.focus,
.sale-reports .sale-reports-chart .btn-site:active,
.sale-reports .sale-reports-chart .btn-site.active,
.sale-reports .sale-reports-chart .btn-site .open > .dropdown-toggle {
  color: #666;
  background-color: #fff;
  border-color: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
.sale-reports .sale-reports-chart .btn-site .badge {
  padding: 6px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #86AAC4;
}
.sale-reports .sale-reports-chart .tree-site-content .chart-pop-header .pull-left {
  width: 85%;
}
.sale-reports .sale-reports-chart .tree-site-content .chart-pop-header .pull-left .input-group {
  width: 100%;
}
.sale-reports .sale-reports-tables {
  background-color: #fff;
  padding: 25px 15px;
}
.sale-reports .sale-reports-tables .top-table {
  height: 45px;
  width: 100%;
}
.sale-reports .sale-reports-tables .top-table .tool-bar {
  float: right;
}
.sale-reports .sale-reports-tables .top-table .tool-bar div {
  float: left;
  margin: 0 7px;
}
.sale-reports .sale-reports-tables .top-table .tool-bar input[type="radio"] {
  outline: 0;
  outline-offset: unset;
}
.sale-reports .table-empty {
  background-color: #fff;
  height: 50px;
  padding: 15px 0;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .bam-tb-scroll {
    max-width: 320px;
    float: left;
  }
}
