.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* COMMON, START */
/* COMMON, END */
/** TOP BAR **/
/** LEFT BAR **/
/** FOOTER **/
.user-group-manages .listview .ngRow .ngCell .item-info .checkbox {
  margin-top: 10px;
}
.user-group-manages .search-user {
  background: none;
}
.user-group-manages .select-all {
  background-color: #FAFAFA;
}
.user-group-manages .list-group {
  padding-left: 0;
}
.user-group-manages .list-group .list-group-item {
  display: block;
  padding: 0 5px;
  clear: both;
}
.user-group-manages .list-group .list-group-item .checkbox {
  margin: 5px;
}
.user-group-manages .form-edit {
  padding: 0;
}
.user-group-manages .form-edit .panel-right .panel .panel-header {
  padding: 6px 10px;
  border: none;
}
.user-group-manages .form-edit .panel-right .panel .panel-header .input-group {
  width: 100%;
}
.user-group-manages .form-edit .panel-right .panel .panel-header .input-group .search-button {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 2;
}
.user-group-manages .form-edit .panel-right .panel .panel-content,
.user-group-manages .form-edit .panel-right .panel .panel-body {
  padding: 0;
}
.user-group-manages .form-edit .panel-right .panel .panel-content .list-group-item,
.user-group-manages .form-edit .panel-right .panel .panel-body .list-group-item {
  border: none;
}
.user-group-manages .form-edit .panel-left .panel .panel-heading .panel-title .border-top,
.user-group-manages .form-edit .panel-left .panel .panel-header .panel-title .border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.user-group-manages .form-edit .panel-left .panel .panel-content .list-group-item,
.user-group-manages .form-edit .panel-left .panel .panel-body .list-group-item {
  border: none;
}
.user-group-manages .form-edit .panel-left .panel .panel-content .panel-full,
.user-group-manages .form-edit .panel-left .panel .panel-body .panel-full {
  margin: 0 -15px;
}
.user-group-manages .panel-content,
.user-group-manages .panel-body {
  margin-top: -5px;
}
.user-group-manages .remove-view .item-info .i-des {
  text-align: left;
  overflow: visible;
}
.user-group-manages .remove-view .item-info .i-des.error {
  border: 1px solid red;
}
.user-group-manages .remove-view .item-info .i-des .btn-group {
  width: 100%;
  border: 1px solid #ccc;
  position: relative;
}
.user-group-manages .remove-view .item-info .msg-warning-replace {
  color: #f89406;
  margin: 3px -20%;
  text-align: left;
}
@media (max-width: 767px) {
  .user-group-manages .panel-left {
    padding-left: 15px;
    padding-right: 15px;
  }
  .user-group-manages .panel-right {
    padding-left: 15px;
    padding-right: 15px;
  }
  .user-group-manages .panel-right .panel-heading,
  .user-group-manages .panel-right .panel-header {
    border-top: 1px solid #E2E2E2;
  }
}
@media (min-width: 768px) {
  .user-group-manages .panel-left {
    border-right: 1px solid #CECECE;
    padding-right: 0;
  }
  .user-group-manages .panel-right {
    padding-left: 0;
  }
}
