.goal-manages .listview .ngRow .ngCell .item-info .i-createdby,
.goal-manages .listview .ngRow .ngCell .item-info .i-date {
  float: left;
}
.goal-manages .listview .ngRow .ngCell .item-info .i-date {
  padding-left: 3px;
}
.goal-manages .remove-view .listview .ngRow .ngCell .item-info {
  text-align: left;
}
.goal-manages .remove-view .listview .ngRow .ngCell .item-info .checkbox {
  margin-top: -7px;
}
.goal-manages .panel-content,
.goal-manages .panel-body {
  margin-top: -5px;
}
