.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* COMMON, START */
/* COMMON, END */
/** TOP BAR **/
/** LEFT BAR **/
/** FOOTER **/
/*
 * CMS: Configuration > Site Admin CSS
 * -----------
 */
.sites-config .panel-content {
  margin-top: -5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .sites-config .server-id-serial {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    white-space: nowrap;
  }
}
@media screen and (min-width: 401px) and (max-width: 991px) {
  .sites-config .server-id-serial {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    white-space: nowrap;
  }
  .sites-config .serial-number {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 250px;
    white-space: nowrap;
  }
}
@media (max-width: 400px) {
  .sites-config .server-id-serial {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
  }
  .sites-config .serial-number {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
  }
}
.sites-config .site-controls {
  padding: 0px;
  background-color: #FDFDFD;
  border-bottom: 1px solid rgba(217, 217, 217, 0.34);
}
.sites-config .site-controls .trash i {
  color: red;
}
.sites-config .site-controls span {
  padding-right: 3px;
  font-size: 13px;
}
.sites-config .site-controls span i {
  font-size: 18px;
  padding-right: 5px;
}
.sites-config .site-controls .dropdown-site-li {
  float: left;
  width: 100%;
  text-align: left;
}
.sites-config .site-content {
  margin-left: 5px;
}
.sites-config .form-edit {
  padding: 0;
}
.sites-config .form-edit .panel-heading .panel-title,
.sites-config .form-edit .panel-header .panel-title {
  width: 100%;
}
.sites-config .form-edit .panel-left .site-mac-image {
  font-size: 20px;
  color: #9B9B9B;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: none;
  padding: 0px 3px 0px 4px;
  position: relative;
}
.sites-config .form-edit .panel-left .site-mac-image:hover,
.sites-config .form-edit .panel-left .site-mac-image:focus {
  cursor: default !important;
}
.sites-config .form-edit .panel-left .site-mac-image.open {
  color: #000;
  cursor: pointer;
}
.sites-config .form-edit .panel-left .site-mac-image.open:hover,
.sites-config .form-edit .panel-left .site-mac-image.open:focus {
  color: #777777;
  background-color: #ccc;
}
.sites-config .form-edit .panel-left .btn-remove-mac {
  font-size: 20px;
  padding: 0px 7px;
  color: red;
  background-color: #FFF;
  position: relative;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: none;
}
.sites-config .form-edit .panel-left .btn-remove-mac:hover,
.sites-config .form-edit .panel-left .btn-remove-mac:focus {
  background-color: #ccc;
  cursor: pointer;
}
.sites-config .form-edit .panel-left .input-group-addon {
  border-left: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.sites-config .form-edit .panel-left .input-group-addon:hover {
  cursor: pointer;
}
.sites-config .form-edit .panel-left .form-group .input-group .form-control {
  z-index: auto;
}
.sites-config .form-edit .panel-left .form-group .input-mac-group {
  width: 100%;
}
.sites-config .form-edit .panel-left .form-group .zipcode-input .has-error {
  border: 1px solid #a94442;
}
.sites-config .form-edit .panel-left .form-group .zipcode-input .has-error .angucomplete-dropdown {
  margin-top: 1px;
}
.sites-config .form-edit .panel-left .form-group .zipcode-input .validationMessage {
  display: none;
}
.sites-config .form-edit .panel-left .form-group .serial-group {
  border-left: 1px solid #ccc;
  padding: 0;
  margin-bottom: 5px;
}
.sites-config .form-edit .panel-left .form-group .serial-group .addon-index {
  font-weight: bold;
  cursor: default;
}
.sites-config .form-edit .panel-left .form-group .serial-group .addon-remove {
  color: #fff;
  background-color: #e15554;
}
.sites-config .form-edit .panel-left .form-group .serial-group .serial-info {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1px 5px;
  font-size: 12px;
  height: 38px;
}
.sites-config .form-edit .panel-left .form-group .serial-group .serial-info .serial-number {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  font-weight: bold;
}
.sites-config .form-edit .panel-left .start-date,
.sites-config .form-edit .panel-left .end-date {
  float: left;
  padding: 3px 0;
}
.sites-config .form-edit .panel-left .start-date .dropdown-menu,
.sites-config .form-edit .panel-left .end-date .dropdown-menu {
  top: -271px !important;
}
.sites-config .form-edit .panel-left .angucomplete-dropdown .scroll-body-autocomplete {
  max-height: 200px;
  overflow-y: auto;
}
.sites-config .form-edit .panel-left .scroll-body {
  height: 635px;
  overflow: auto;
  width: 100%;
}
.sites-config .form-edit .panel-left .site-hour-header {
  background-color: #FAFAFA;
  border-bottom: 1px solid #eee;
  height: 25px;
  -moz-box-shadow: 0 3px 4px -4px #eeeeee;
  -webkit-box-shadow: 0 3px 4px -4px #eeeeee;
  box-shadow: 0 3px 4px -4px #eeeeee;
}
.sites-config .form-edit .panel-left .site-hour-body {
  height: 70px;
  overflow-y: auto;
  width: 100%;
}
.sites-config .form-edit .panel-left .site-hour-body.has-data {
  background-color: #CFCFCF;
}
.sites-config .form-edit .panel-left .site-hour-body .site-hour-item {
  height: 25px;
  border-bottom: 1px dashed #eee;
}
.sites-config .form-edit .panel-right .panel-body {
  padding: 0;
}
.sites-config .form-edit .panel-right .form-group {
  margin-bottom: 0;
}
.sites-config .form-edit .panel-right .form-group.search-group {
  background-color: #FAFAFA;
  padding: 2px;
}
.sites-config .form-edit .panel-right .user-list {
  margin-bottom: 0;
  padding: 0 2px;
}
.sites-config .form-edit .panel-right .user-list .list-group-item {
  padding: 3px 5px;
}
.sites-config .form-edit .panel-right .user-list .list-group-item:first-child,
.sites-config .form-edit .panel-right .user-list .list-group-item:last-child {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.sites-config .form-edit .panel-right .user-list .list-group-item:nth-child(odd) {
  background-color: #FAFAFA;
}
.sites-config .form-edit .panel-right .user-list .list-group-item:nth-child(even) {
  background-color: #fff;
}
.sites-config .form-edit .panel-right .user-list .list-group-item.active,
.sites-config .form-edit .panel-right .user-list .list-group-item:hover,
.sites-config .form-edit .panel-right .user-list .list-group-item.focus {
  background-color: rgba(180, 220, 240, 0.4);
  border: 1px solid #ddd;
  color: #5b5b5b;
  cursor: pointer;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info {
  height: 50px;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-name,
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-pos {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-name {
  font-weight: bold;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-image {
  margin-top: 0;
  margin-right: 10px;
  float: left;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-image img {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .icon-checked {
  color: #fff;
  background-color: #6ABE6A;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #96f1cb;
  overflow: hidden;
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 4px;
  left: 36px;
  text-align: center;
  font-size: 10px;
  padding-top: 2px;
}
.sites-config .form-edit .panel-right .user-list .list-group-item .item-info .i-color {
  margin-left: 0;
  margin-right: 10px;
}
.sites-config .form-edit .panel-right .scroll-body {
  height: 570px;
  overflow: auto;
  width: 100%;
}
.sites-config .form-edit .border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 992px) {
  .sites-config .form-edit .panel-left {
    padding-right: 0;
  }
  .sites-config .form-edit .panel-right {
    padding-left: 0;
    border-left: 1px solid #E5E5E5;
  }
}
@media (max-width: 991px) {
  .sites-config .form-edit .panel-left .slimScrollDiv {
    height: 270px !important;
  }
  .sites-config .form-edit .panel-left .slimScrollDiv .scroll-body {
    height: 270px !important;
  }
  .sites-config .form-edit .panel-right .slimScrollDiv {
    height: 230px !important;
  }
  .sites-config .form-edit .panel-right .slimScrollDiv .scroll-body {
    height: 230px !important;
  }
  .sites-config .form-edit .panel-right .panel-heading,
  .sites-config .form-edit .panel-right .panel-header {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.site-metric-manages.form-edit {
  color: #898f97;
}
.site-metric-manages.form-edit .modal-body {
  /*END::form-horizontal*/
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group label {
  font-weight: 100;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .panel-metric-list {
  padding: 10px;
  background: #eeeeee;
  /*Table body have Metric List text box loop */
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .panel-metric-list .table-body .input-group {
  margin-bottom: 10px;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .panel-metric-list .table-body .input-group input {
  height: 35px;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .panel-metric-list .table-body .input-group span button {
  height: 35px;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .footer-metric-list {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .footer-metric-list span {
  border: 1px solid #ccc;
}
.site-metric-manages.form-edit .modal-body .form-horizontal .form-group .footer-metric-list span i {
  font-size: 18px;
}
.working-hours-manage .form-horizontal .control-label {
  text-align: left;
}
@media (max-width: 767px) {
  .working-hours-manage .align-middle {
    margin-bottom: 5px;
    margin-top: -5px;
  }
}
@media screen and (max-height: 768px) {
  .site-content {
    height: 470px;
    overflow-y: auto;
  }
}
@media screen and (min-height: 769px) and (max-height: 864px) {
  .site-content {
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 865px) and (max-height: 900px) {
  .site-content {
    height: 650px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 901px) and (max-height: 950px) {
  .site-content {
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 951px) and (max-height: 1000px) {
  .site-content {
    height: 740px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 1001px) and (max-height: 1200px) {
  .site-content {
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-height: 1201px) {
  .site-content {
    height: 940px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
@media screen and (min-width: 1179px) and (max-width: 1450px) {
  .panel.site-monitor.sensor-alert.alerts table.sensors-table.table-bordered tr > td {
    vertical-align: middle;
    padding: 4px 6px;
  }
  .panel.site-monitor.sensor-alert.alerts table.sensors-table.table-bordered tr th {
    text-align: center;
  }
  .panel.site-monitor.sensor-alert.alerts table.sensors-table.table-bordered tr th span {
    margin-left: 0px;
  }
  .panel.site-monitor.sensor-alert.alerts table.sensors-table.table-bordered thead tr th:nth-child(2) {
    width: 110px;
  }
  .panel.site-monitor.sensor-alert.alerts table.sensors-table.table-bordered tbody tr.sensor td:nth-child(2) span {
    margin-left: -5px;
    word-wrap: break-word;
  }
}
.sites-config .siteadmin-reload-btn {
  position: absolute;
  right: 15px;
}
@media (max-width: 767px) {
  .panel.sensor-alert .site-alert-controls div.form-group.col-sm-4 {
    margin-top: 15px;
  }
  .panel.sensor-alert .site-alert-controls div.pull-right {
    margin-top: -30px;
  }
  .panel.sites-config .panel-header.function-header div.pull-right.btn-group:nth-child(2) {
    float: left !important;
    width: 100%;
    margin-left: 1px;
    padding-right: 20px;
  }
  .panel.sites-config .panel-header.function-header div.pull-right.btn-group:nth-child(2) form {
    width: 100%;
  }
  .panel.sites-config .panel-header.function-header div.pull-right.btn-group:nth-child(2) form span.search-button {
    top: 8px;
  }
  .panel.sites-config .panel-header.function-header div.pull-right.btn-group:nth-child(2) form div.input-group {
    width: 100%;
  }
}
