<div class="col-lg-3 col-md-6">
    <div class="panel dashboard-panel animated fadeInDown widget-num-traffic">
        <div class="panel-content padding-box">
            <div class="panel-icon" style="display: none;">
                <i class="icon-users"></i>
            </div>
            <div class="text-box">
                <p class="maindata" tooltip="TRAFFIC: 0" tooltip-placement="bottom">
                    <strong class="ng-binding">{{'HEADER_CALCULATE' | translate}}</strong>
                </p>
                <h2><span class="animate-number ng-binding" data-duration="3000">{{HeaderData.Caculate}}</span></h2>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-class="{'transparent': !showTranding}">
            <div class="row">
                <!-- ngIf: showTranding -->
                <div ng-if="showTranding" class="col-sm-12 tranding ng-scope" tooltip="0% Decrease In Traffic">
                    <i class="icon-right-3"></i><b class="ng-binding">0% Decrease In Traffic</b>
                </div>
                <!-- end ngIf: showTranding -->
                <!-- ngIf: !showTranding -->
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel dashboard-panel animated fadeInDown widget-num-traffic">
        <div class="panel-content padding-box">
            <div class="panel-icon" style="display: none;">
                <i class="icon-users"></i>
            </div>
            <div class="text-box">
                <p class="maindata" tooltip="TRAFFIC: 0" tooltip-placement="bottom">
                    <strong class="ng-binding">{{'HEADER_POSDATA' | translate}}</strong>
                </p>
                <h2><span class="animate-number ng-binding" data-duration="3000">{{HeaderData.POSdata}}</span></h2>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-class="{'transparent': !showTranding}">
            <div class="row">
                <!-- ngIf: showTranding -->
                <div ng-if="showTranding" class="col-sm-12 tranding ng-scope" tooltip="0% Decrease In Traffic">
                    <i class="icon-right-3"></i><b class="ng-binding">0% Decrease In Traffic</b>
                </div>
                <!-- end ngIf: showTranding -->
                <!-- ngIf: !showTranding -->
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel dashboard-panel animated fadeInDown widget-num-traffic">
        <div class="panel-content padding-box">
            <div class="panel-icon" style="display: none;">
                <i class="icon-users"></i>
            </div>
            <div class="text-box">
                <p class="maindata" tooltip="TRAFFIC: 0" tooltip-placement="bottom">
                    <strong class="ng-binding">{{'HEADER_TRAFFICDATA' | translate}}</strong>
                </p>
                <h2><span class="animate-number ng-binding" data-duration="3000">{{HeaderData.Trafficdata}}</span></h2>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-class="{'transparent': !showTranding}">
            <div class="row">
                <!-- ngIf: showTranding -->
                <div ng-if="showTranding" class="col-sm-12 tranding ng-scope" tooltip="0% Decrease In Traffic">
                    <i class="icon-right-3"></i><b class="ng-binding">0% Decrease In Traffic</b>
                </div>
                <!-- end ngIf: showTranding -->
                <!-- ngIf: !showTranding -->
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
<div class="col-lg-3 col-md-6">
    <div class="panel dashboard-panel animated fadeInDown widget-num-traffic">
        <div class="panel-content padding-box">
            <div class="panel-icon" style="display: none;">
                <i class="icon-users"></i>
            </div>
            <div class="text-box">
                <p class="maindata" tooltip="TRAFFIC: 0" tooltip-placement="bottom">
                    <strong class="ng-binding">{{'HEADER_NORMSLIZED' | translate}}</strong>
                </p>
                <h2><span class="animate-number ng-binding" data-duration="3000">{{HeaderData.Normalized}}</span></h2>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="panel-footer" ng-class="{'transparent': !showTranding}">
            <div class="row">
                <!-- ngIf: showTranding -->
                <div ng-if="showTranding" class="col-sm-12 tranding ng-scope" tooltip="0% Decrease In Traffic">
                    <i class="icon-right-3"></i><b class="ng-binding">0% Decrease In Traffic</b>
                </div>
                <!-- end ngIf: showTranding -->
                <!-- ngIf: !showTranding -->
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>