.cms-tree-node-toggle {
    float: left;
    margin: 2px 7px 0px 0px;
}

.cms-treeview .badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
    margin-top: 3px;
}

.cms-treeview .font-style-node {
    font-size: 14px;
}

.cms-treeview .bg-success {
background-color: #27c24c;
color: #c2f3ce;
}

.cms-treeview .tree-node-toggle {
    float: left;
    margin: 2px 7px 0px 0px;
}

/*//*/

.cms-treeview .tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.cms-treeview .tree-node-content {
   margin: 4px 2px 2px 3px;
}
.cms-treeview .tree-handle {
    padding: 2px;
    background: #fff;
    color: #000;
    margin-right: 0px;
}

.cms-treeview .angular-ui-tree-handle:hover {
       color: #438eb9;
    background: #D2F6FF;
    border-color: #dce2e8;
}

.cms-treeview .angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.cms-treeview .tree-node-content > .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}



.cms-treeview .angular-ui-tree {

}

.cms-treeview .angular-ui-tree-empty {
	border: 1px dashed #bbb;
	min-height: 100px;
	background-color: #e5e5e5;
	background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;
}

.cms-treeview .angular-ui-tree-nodes {
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.cms-treeview .angular-ui-tree-nodes .angular-ui-tree-nodes {
	padding-left: 20px;
}

.cms-treeview .angular-ui-tree-node .angular-ui-tree-nodes {
	margin-top: 0px;
}

.cms-treeview .angular-ui-tree-node, .angular-ui-tree-placeholder {
	position: relative;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	min-height: 20px;
	min-width: 150px;
	line-height: 20px;
}

.cms-treeview .angular-ui-tree-node.selected > .angular-ui-tree-handle, .angular-ui-tree-node.selected .angular-ui-tree-node > .angular-ui-tree-handle {
	background: #DDE7FF;
	border: 1px solid black;
}

.cms-treeview .angular-ui-tree-node.original > .angular-ui-tree-handle {
	background: #E2E2E2;
	border: 1px solid lightgrey;
}

.cms-treeview .angular-ui-tree-hidden {
	display: none;
}

.cms-treeview .angular-ui-tree-placeholder {
	margin: 0px 0;
	padding: 0;
	min-height: 30px;
}

.cms-treeview .angular-ui-tree-placeholders-wrapper {
 	position: relative;
	margin: 0px;
	margin-bottom: 0px;
	padding: 0px;
	min-height: 20px;
	min-width: 150px;
	line-height: 20px;
}

.cms-treeview .angular-ui-tree-handle {
	cursor: move;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 20px;
	line-height: 20px;
}

.cms-treeview .angular-ui-tree-handle.select {
	cursor: cell;
}
.cms-treeview .angular-ui-tree-handle.copy {
	cursor: copy;
}

.cms-treeview .angular-ui-tree-drag {
	position: absolute;
	pointer-events: none;
	z-index: 999;
	opacity: .8;
}
