@{
    ViewBag.Title = "PageNotFound";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page not-found-page">

<h2>Access Denied</h2>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
