@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Your data has been updated</p>

<p><a href="javascript:void(0);" class="close">Close Window</a></p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
