@{
    ViewBag.Title = "PageNotFound";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page not-found-page">
    <div class="page-title">
        <h1>Page Not Found</h1>
    </div>
    <div class="page-body">
       Page Not Found
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
