<form name="deleNode" class="form-horizontal user-group-manages form-delete adhoc-delete">
	<div class="modal-header">
		<span class="close" data-ng-click="cancel()"><i aria-hidden="true" class="icon-cancel-1"></i></span>
		<h3 class="modal-title">{{'DELETE_HEADER'|translate}}</h3>
	</div>
	<div class="modal-body">
	    <div>{{'DELCONF_MSG' |translate}}:</div>
        <h3 style="font-weight: bold">{{vm.item.Name}}</h3>
	</div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="cancel()">{{"BTN_CANCEL"|translate}}</button>
        <button type="button" class="btn btn-primary" data-ng-click="save()">{{"BTN_OK"|translate}}</button>
    </div>
</form>
