<div class="content-of-login-page" ng-controller="lostpasswordCtrl">
    <div class="container-fluid ">
        <div class="hidden-xs image-box-left">
            <div class="text">
                <h1> CMS</h1>
                <div>
                    <span>{{about.fullName | translate}}</span> <br>
                    <span>{{about.name}}  {{about.version}}</span> <br>
                    <span>{{'BUILD' | translate}} {{about.buildDate}}</span>
                </div>
            </div>
            <div class="blue-mask"></div>
        </div>
        <!-- END blok left -->

        <div class="form-login">
            
            <div class="form">
                <h2>{{'RESET_PASSWORD'|translate}}</h2>
                <form id="lostpassform" name="lostpassform" role="form" angular-validator-submit="resetPassword($event)" novalidate angular-validator>

                      <div class="form-group">
                        <label for="username">{{"EMAIL"|translate}}<span class="required">*</span></label>
                         <input type="text" class="form-control" name="txtEmail" ng-model="lostPassword.Email" autocomplete="off"
                                   required-message="'{{'EMAIL_REQUIRED'|translate}}'" required
                                   validator="EmailValidFunc(lostPassword.Email) === true"
                                   invalid-message="EmailValidFunc(lostPassword.Email)"
                                    placeholder="Email"
                                   validate-on="dirty" maxlength="50" />
                      </div>

                      <div class="form-group">
                        <label>{{"USER_NAME"|translate}}<span class="required">*</span></label>
                            <input type="text" class="form-control" name="txtUserName" ng-model="lostPassword.UserName" autocomplete="off"
                                   required-message="'{{'USER_NAME_REQUIRED'|translate}}'" required
                                   validator="UserNameValidFunc(lostPassword.UserName) === true"
                                   invalid-message="UserNameValidFunc(lostPassword.UserName)"
                                    placeholder="{{'USER_NAME_PLACEHOLD'|translate}}"
                                   validate-on="dirty" maxlength="15" />
                      </div>
                   
                      <div class="form-group">
                          <!-- <br><a ng-click="goLogin()">{{'LOGIN'|translate}}</a> -->
                      </div>
                      <div class="form-group  buttom-forgot">
                            <a ng-click="goLogin()" class="btn back-signin">Back to Sign in</a>
                            <button type="submit" class="btn btn-blue-2 pull-right" tabindex="2">
                              {{'BTN_SUBMIT'|translate}}
                            </button>
                            <alert  ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                      </div>
                       <alert ng-show="resetSuccess === true" class="form-group resetSuccess">
                                {{  ::'RESET_PASSWORD_MSG' | translate}}
                                  <!--<a ng-click="goLogin()">{{'LOGIN'|translate}}</a>-->
                      </alert>
                      
                </form>

                 
            </div>

            <div class="coppy-right">
                <div class="wrap">
                   <img src="../Content/Images/logo-i3-small.png" alt="">
                   <p>
                      Copyright 2015 <a href="" title="">i3 International Inc.</a> <br>
                      All rights reserved
                   </p>
                </div>
                 
            </div>
               
             
        </div>
        <!-- END block login -->


    </div>
</div>