    <div class="modal-header">
        <h3 class="modal-title">{{modalOptions.headerText|translate}}</h3>
    </div>
    <div class="modal-body confirm-box-body">    	
    	<span><i class="icon-help-2"></i></span>
        <p>{{modalOptions.bodyText|translate}}</p>
    </div>
    <div class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="modalOptions.ok()">OK</button>
	<button type="button" class="btn btn-primary" data-ng-click="modalOptions.close()">NO</button>
</div>