<div ng-controller="saleRptChartsCtrl as srpt" ng-init="Init()">
	<div class="toolbar" ng-if="ChartToolbars===true ; ChartDataParamAll.ChartData.Regions.length > 0">
		<div class="pull-left">
			<div class="btn-group" style="padding-left:10px;" ng-show="arrChartTypes.length > 0">
				<a id="btn-popMenuAlert_ChartP" class="btn btn-default btn-xs dropdown-toggle" pop-menu tooltip="{{vm.SeverityTip}}" tooltip-placement="left">{{'Traffic'|translate}}<i class="icon-down-open-2"></i></a>
				<ul class="dropdown-menu pull-left severity-dlg">
					<li>
						<div class="row">
							<div class="col-md-12">
								<div class="panel" style="margin-bottom:0 !important;">
									<div>
										<ul class="dropdown-menu-list ng-isolate-scope" slimscroll="{height: '80px'}" style="list-style: none; padding-left: 20px;">
											<li ng-repeat="ch in arrChartTypes | filter: {yAxis: 'P'}">
												<div class="radio radio-default"> 
													<input type="radio" ng-model="ch.Checked"> 
													<label class="i-name ng-binding"><i class="icon-demo-line-chart"></i> {{ch.Name}}</label> 
												</div>
												<div style="clear: both;"></div>
											</li>
										</ul>
									</div>
									<div class="panel-footer chart-pop-header btn btn-default btn-sm " ng-click="ShowHideChart(true)" style="height:30px; margin: 10px 0px -1px 0px !important; padding:5px 20px !important; width:100%">
										<span >{{'BTN_DONE'|translate}}</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="btn-group" ng-show="arrChartTypes == null || arrChartTypes == undefined || arrChartTypes.length == 0">
				<div class="checkbox checkbox-default"> 
					<input type="checkbox" ng-checked="ShowChartTypes[1]" ng-model="ShowChartTypes[1]" ng-change="ShowHideChartType(1)"> 
					<label class="i-name ng-binding"><i class="icon-chart-bar-2"></i> {{'DWELLTIME'|translate}}</label> 
				</div>
			</div>
			<div ng-show="DSItemNumber > DSItemLimit" style="display: inline-block; padding-left: 25px;">
				<!-- <a ng-show="DSItemIndex > 0" ng_click="Back()">{{'BTN_BACK'|translate}}</a>
				<a ng_click="Next()">{{'NEXT'|translate}}</a> -->
				<div class="btn-group">
					<button ng-show="DSItemIndex > 0" ng_click="Back()" type="button" class="btn btn-xs btn-darkblue-2"><i class="icon-left-open-2"></i>{{'BTN_BACK'|translate}}</button>
					<button ng-show="isLastPage === false" ng_click="Next()" type="button" class="btn btn-xs btn-primary">{{'NEXT'|translate}}<i class="icon-right-open-2"></i></button>
				</div>
			</div>
		</div>
		<div class="pull-right">
			<!--
			<div ng-show="SupportSites == true" class="radio radio-primary" style="display: inline-block;" ng-click="showChartSites(false)">
				<input type="radio" name="rdbShowChartSites" ng-checked="ShowChartSites === false">
				<label>{{'REGIONS'|translate}}</label>
			</div>
			<div ng-show="SupportSites == true" class="radio radio-primary" style="display: inline-block; margin-right: 10px;" ng-click="showChartSites(true)">
				<input type="radio" name="rdbShowChartSites" ng-checked="ShowChartSites === true">
				<label>{{'CHART_SITES'|translate}}</label>
			</div>
			-->
			<div class="btn-group" ng-show="arrChartTypes.length > 0">
				<a id="btn-popMenuAlert_ChartS" class="btn btn-default btn-xs dropdown-toggle" pop-menu>{{'POS'|translate}}<i class="icon-down-open-2"></i></a>
				<ul class="dropdown-menu pull-right severity-dlg">
					<li>
						<div class="row">
							<div class="col-md-12">
								<div class="panel" style="margin-bottom:0 !important;">
									<div>
										<ul class="dropdown-menu-list ng-isolate-scope" slimscroll="{height: '80px'}" style="list-style: none; padding-left: 20px;">
											<li ng-repeat="ch in arrChartTypes | filter: {yAxis: 'S'}">
												<div class="checkbox checkbox-default"> 
													<input type="checkbox" ng-checked="ch.Checked" ng-model="ch.Checked">
													<label class="i-name ng-binding"><i class="icon-chart-bar"></i> {{ch.Name}}</label> 
												</div>
												<div style="clear: both;"></div>
											</li>
										</ul>
									</div>
									<div class="panel-footer chart-pop-header btn btn-default btn-sm " ng-click="ShowHideChart(false)" style="height:30px; margin: 10px 0px -1px 0px !important; padding:5px 20px !important; width:100%">
										<span >{{'BTN_DONE'|translate}}</span>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="btn-group" ng-show="arrChartTypes == null || arrChartTypes == undefined || arrChartTypes.length == 0">
				<div class="checkbox checkbox-default"> 
					<input type="checkbox" ng-checked="ShowChartTypes[0]" ng-model="ShowChartTypes[0]" ng-change="ShowHideChartType(0)"> 
					<label class="i-name ng-binding"><i class="icon-chart-line"></i> {{'COUNT'|translate}}</label> 
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<fusioncharts 
		width="100%" 
		height="400" 
		type="mscombidy2d" 
		datasource="{{chartDataDSMulti}}"
        config="{{chartDataMessage}}">
	</fusioncharts>
	<div style="width: 100%; text-align:center;">
		<a ng-repeat="lg in arrChartLegends" ng-click="clickOnLegend(lg.ID)">
			<i class="icon-folder-1" ng-style="{color: lg.Display ? lg.Color : '#cccccc'}"></i> {{lg.Name}} <!--style="color:{{lg.Display ? lg.Color : '#cccccc'}}"-->
		</a>
	</div>
</div>