<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingOne">
		<h4 class="panel-title">
		<a role="button" data-toggle="collapse" data-parent="" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			Date range
		</a>
		</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		<div class="panel-body">			
			
			<div class="dateFrom form-group">
                <div class="input-group" options="{{vm.optionsDate}}" cmsdatetimepicker ng-model="vm.dateFrom">
                    <input type="text" name="DateFrom" class="form-control input-sm" readonly />
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                </div>
                <label>To</label>     
                <div class="input-group" options="{{vm.optionsDate}}" cmsdatetimepicker ng-model="vm.dateTo">
                    <input type="text" name="DateTo" class="form-control input-sm" readonly />
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                </div>          
               
            </div>           
            <div class="form-group end-button">
            	<button class="btn btn-default btn-sm"><i class="icon-search-3"></i>Search</button>
            </div>
         

		</div>
	</div>
</div>
<!-- END :: Date range panel -->



<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingTwo">
		<h4 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			Filter group #1
		</a>
		</h4>
	</div>
	<div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
		<div class="panel-body">
			
			<div class="form-group">
			    <label for="">Case No.</label>
			    <input type="text" class="form-control"  placeholder="Case No.">
			</div>

			<div class="form-group">
			    <label for="">First Name</label>
			    <input type="text" class="form-control"  placeholder="First name">
			</div>

			<div class="form-group">
			    <label for="">Last Name </label>
			    <input type="text" class="form-control"  placeholder="Last name ">
			</div>

			<div class="form-group">
				<label for="">Incident Type </label>
				<select class="form-control">
				  <option>Please choose</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>

			<div class="form-group">
			    <label for="">Incident Date </label>
				<div class="input-group" options="{{vm.optionsDate}}" cmsdatetimepicker ng-model="vm.dateIncident">
                    <input type="text" name="dateIncident" class="form-control input-sm" readonly />
                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
	            </div>  
			</div>

			
			   

			 <div class="form-group end-button">
			 	<button class="btn btn-default btn-sm"><i class=" icon-cancel-2"></i>Clear</button>
            	<button class="btn btn-primary btn-main-color btn-sm"><i class="icon-search-3"></i>Apply</button>            	
            </div>

		</div>
	</div>
</div>
<!-- END :: Filter group #2  -->



<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingThree">
		<h4 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			Filter group #2
		</a>
		</h4>
	</div>
	<div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
		<div class="panel-body">
			
			<div class="form-group">
			    <label for="">Case status</label>
				<select class="form-control">
				  <option>Please choose</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>

			<div class="form-group">
			    <label for="">Disposition </label>
				<select class="form-control">
				  <option>Please choose</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>

			<div class="form-group">
			    <label for="">Approved By</label>
				<select class="form-control">
				  <option>Please choose</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>

			<div class="form-group">
			    <label for="">Case Owner </label>
				<select class="form-control">
				  <option>Please choose</option>
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>5</option>
				</select>
			</div>
			   

			 <div class="form-group end-button">
			 	<button class="btn btn-default btn-sm"><i class=" icon-cancel-2"></i>Clear</button>
            	<button class="btn btn-primary btn-main-color btn-sm"><i class="icon-search-3"></i>Apply</button>
            </div>


		</div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingFour">
		<h4 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			Filter group #3
		</a>
		</h4>
	</div>
	<div id="collapseFour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingFour">
		<div class="panel-body">
				<div class="scroll-body scrollbar-dynamic" data-jquery-scrollbar  slimscroll="{height: '250px'}">
						<div class="tree-site-addmin">
							<tree-component class="cms-tree" ng-if="vm.treeSites" model="vm.treeSites" filter-text="query" def-col="vm.def" options="vm.options">
						</tree-component>
						</div>
				</div>
		</div>
	</div>
</div>
<!-- END :: Filter group #3 -->

<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="headingFive">
		<h4 class="panel-title">
		<a class="collapsed" role="button" data-toggle="collapse" data-parent="" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
			Filter group #4
		</a>
		</h4>
	</div>
	<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		<div class="panel-body">
			
			<div class="form-group">
			    <label for="">Investigation Initiated By</label>
			    <input type="text" class="form-control"  placeholder="Investigation Initiated By">
			</div>
			<div class="form-group">
			    <label for="">Offficer Badge Number</label>
			    <input type="text" class="form-control"  placeholder="Offficer Badge Number">
			</div>
			<div class="form-group">
			    <label for="">Responding Officer</label>
			    <input type="text" class="form-control"  placeholder="Case No.">
			</div>

			<div class="form-group end-button">
			 	<button class="btn btn-default btn-sm"><i class=" icon-cancel-2"></i>Clear</button>
            	<button class="btn btn-primary btn-main-color btn-sm"><i class="icon-search-3"></i>Apply</button>
            </div>


		</div>
	</div>
</div>
<!-- END :: Filter group #4  -->