<div class="panel goal-manages" ng-controller="goaltyleCtrl as vm" ng-cloak>
	<func-header
		listview='vm.listView'
		query='vm.query'
		add-fn='vm.addGoalType()'
		edit-fn='vm.editGoalType(vm.selectedRows)'
		del-fn='vm.deleteGoalType(vm.selectedRows)'
		refresh-fn='vm.ReloadData()'
		import-fn='false'
		show-view-mode="true"></func-header>

	<!--GRID VIEW-->
	<div data-ng-if="vm.listView == false" class="panel-content">
		<div class="gridview" ng-grid="vm.gridOptions"></div>
	</div>

	<!--LIST VIEW-->
	<div data-ng-if="vm.listView == true" class="panel-content">
		<div class="listview" ng-grid="vm.listOptions"></div>
	</div>
</div>
